{% extends 'my_app/base.html' %}

{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-4">
        <div class="card h-100">
            <div class="card-header bg-body-secondary text-center">{{ product.name }}</div>
            <div class="card-body">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{{ product.name }}{% endif %}" class="img-fluid" alt="{{ product.name }}">
                <h4 class="card-title text-center">Цена: {{ product.price }} руб.</h4>
                <p class="card-text">Категория товаров: {{ product.category }}</p>
                <p class="card-text">Описание товара: {{ product.description | truncatechars:100 }}</p>
                <h6 class="text-center">
                    <button type="button" class="btn text-primary btn-light border-primary" style="width: 150px;">Посмотреть</button>
                </h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}