{% extends 'my_app/base.html' %}

{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}

<div class="col-12">
    <h2 class="text-center">
        Контакты
    </h2>
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <div class="col-12">
                <div class="border" style="padding: 10px">
                    <div class="mb-3">
                        <label class="form-label">Имя</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Почта</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Сообщение</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
            <div class="col-6">
                <h4>Наши контакты</h4>
                Много текста.....
            </div>
        </form>
    </div>
</div>

{% endblock %}
